
body{


  text-align: center;
  align-content: center;
  background-color: #555555;
}

.input{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;


  text-overflow: ellipsis;

  overflow: hidden;
  #display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  background:#555555;
  position:absolute;

}
header{
  align-content: center;

}
img
{ display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.button {
  vertical-align: middle;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width: 5rem;
  height: 30rem;
  height: 40px;
  line-height: 40px;
  text-align: center;

  text-decoration: none;
  display: inline-block;

  cursor: pointer;
}
text.answer-boxes{
  border-style: double;
}





#footer {
  position: fixed;
 align-content: center;
  text-align: center;
  bottom: 0;
  width: 100%;


  /* Height of the footer*/



}

