@media (max-height: 667px) {
  #footer {
    display: none;
  }
}

#footer {
  font-family: "URW Gothic";
  position: fixed;
  align-content: center;
  text-align: center;
  bottom: 0;
  width: 100%;

}

body {


  text-align: center;
  align-content: center;
  /*background-color: #121213;*/
  background-color: white;
}

.image-container {

  object-fit: cover;
  margin: auto;
  display: block;
  position: static;
  align-content: center;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;


}

#main {
  border-style: solid;
  border-width: 3px;
}


.input {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;


  text-overflow: ellipsis;

  overflow: hidden;
  #display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  /*background: white;*/
  position: absolute;

}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  align-content: center;

}

#answer {

  background-color: lightgray;

}

img {

  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.button {
  vertical-align: middle;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width: 5rem;
  height: 30rem;
  height: 40px;
  line-height: 40px;
  text-align: center;

  text-decoration: none;
  display: inline-block;

  cursor: pointer;
}

text.answer-boxes {
  display: flex;
  border-style: double;
  border-radius: 25px;
  padding: 10%;
}


#text {

  flex: 1;

  font-size: 17px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;


  max-width: 200px;
  /*max-width: 50%;*/
  /*padding-left: 5px;*/
  /*padding-right: 5px;*/
  display: table;
  margin: 0 auto;

}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-family: "URW Gothic";
  font-size: 1.3rem;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.stat-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.stat-close:hover,
.stat-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.stat-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.stat-modal-content {
  font-family: "URW Gothic";
  font-size: 1.5rem;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  /*padding: 20px;*/
  height: 550px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* CSS */
.share {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.share:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.share:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.share:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
